<!DOCTYPE html>

<html>

<head>
  <title>{{title}}</title>
  <link href="/img/weather.png" rel="icon" />
  <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
  <div class="main">
    {{>header}}
    <img class="about__image" src="img/garii1.jpg" />
    <p>{{text}}</p>
  </div>

  {{>footer}}
</body>

</html>