<header>
  <h1 class="page__title">{{title}}</h1>

  <nav class="nav-bar">
    <a class="nav-link" href="/">Weather</a>
    <a class="nav-link" href="/help">Help</a>
    <a class="nav-link" href="/about">About Us</a>
  </nav>
</header>